<br>
<br>
<br>
<div class="center">
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/70/ef/3f/70ef3fbc8c51a7249c9ad5a4d569d461.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{user?.name}}</h5>
        <p class="card-text">User: @{{user?.username}}</p>
        <p class="card-text">Company: {{user?.company?.name}}</p>
        <p class="card-text">phone: {{user?.phone}}</p>
        <a href="#" class="btn btn-primary">Add friend</a>
        </div>
    </div>
</div>
